<div class="p5 m-5 row">
  <div class="col-6">
    <div class="container">
      <div class="card m-5 p-3">
        <h2 class="card-header">Heart Rate Reading</h2>
          <div class="card-body">
              <table class="table table-bordered table-striped table-hover">
                  <thead>
                  <tr>
                      <th>Timestamp</th>
                      <th>TzOffset</th>
                      <th>Reading value</th>
                      <th>Unit of measure</th>
                      <th>Data source</th>
                      <th>Created at</th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr *ngFor="let record of data">
                      <td>{{ record.timestamp }}</td>
                      <td>{{ record.tzOffset }}</td>
                      <td>{{ record.value }}</td>
                      <td>{{ record.unit }}</td>
                      <td>{{ record.source }}</td>
                      <td>{{ record.createdAt }}</td>
                  </tr>
                  </tbody>
              </table>
          </div>
      </div>
  </div>
  </div>
  <div class="col-6">
    <div class="container">
      <div class="card m-5 p-3">
        <h2 class="card-header">Activity Summary</h2>
          <div class="card-body">
              <table class="table table-bordered table-striped table-hover">
                  <thead>
                  <tr>
                      <th>Date</th>
                      <th>Duration</th>
                      <th>Distance</th>
                      <th>Steps</th>
                      <th>Data source</th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr *ngFor="let record of activitySummary">
                      <td>{{ record.date }}</td>
                      <td>{{ record.duration }}</td>
                      <td>{{ record.distance }}</td>
                      <td>{{ record.steps }}</td>
                      <td>{{ record.source }}</td>
                  </tr>
                  </tbody>
              </table>
          </div>
      </div>
  </div>
  </div>
</div>
