<div class="card">
  <h4 class="card-header text-dark">Register</h4>
  <div class="card-body">
    <div *ngIf="errorMessage" class="alert alert-danger">
      {{errorMessage}}
    </div>
      <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <label for="displayName">Name</label>
          <input [(ngModel)]="registration.displayName" type="text" formControlName="displayName" class="form-control" [ngClass]="{ 'is-invalid': submitted && !registerForm.controls['displayName'].valid }" />
          <div *ngIf="submitted && !registerForm.controls['displayName'].valid" class="invalid-feedback">
              <div>Display Name is required</div>
          </div>
      </div>
          <div class="form-group">
              <label for="email">Email</label>
              <input [(ngModel)]="registration.email" type="text" formControlName="email" class="form-control" [ngClass]="{ 'is-invalid': submitted && !registerForm.controls['email'].valid }" />
              <div *ngIf="submitted && !registerForm.controls['email'].valid" class="invalid-feedback">
                  <div>Email is required</div>
              </div>
          </div>
          <div class="form-group">
              <label for="password">Password</label>
              <input [(ngModel)]="registration.password" type="password" formControlName="password" class="form-control" [ngClass]="{ 'is-invalid': submitted && !registerForm.controls['password'].valid }" />
              <div *ngIf="submitted && !registerForm.controls['password'].valid" class="invalid-feedback">
                  <div>Password is required</div>
              </div>
          </div>
          <ul class="text-danger list-unstyled" *ngIf="errors">
            <li *ngFor="let err of errors">
                {{err}}
            </li>
        </ul>
          <div class="form-group pt-4">
              <button [disabled]="registerForm.invalid" class="btn btn-primary">
                  Register
              </button>
              <a [routerLink]="['/account']" class="btn btn-link">Login</a>
          </div>
      </form>
  </div>
</div>
